/* styles.css */
body {
    background-image: url('fondo.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    font-family: 'Super Sedan', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fff;
    text-align: center;
}
h1, h2, h3, p {
    font-family: 'Super Sedan', sans-serif;
}
title {
    font-family: 'Angels', sans-serif;
}
.centrado {
    position: relative; /* Cambia la posición a relativa */
    top: 0; /* Ajusta la posición vertical si es necesario */
    left: 0; /* Ajusta la posición horizontal si es necesario */
    transform: none; /* Elimina la transformación para centrar en su posición original */
    color: #fff;
}
.obra {
    margin: 20px 0; /* Agrega un margen superior e inferior para separar las imágenes del título */
}
.obra {
    margin: 20px 0; /* Agrega un margen superior e inferior para separar las imágenes del título */
}
.obra {
    margin: 20px 0; /* Agrega un margen superior e inferior para separar las imágenes del título */
}
@font-face {
    font-family: 'Super Sedan';
    src: url('SuperSedan.ttf') format('truetype');
    src: url('Angels.ttf') format('truetype');
}

header {
    background-color: #333;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000;
}

footer {
    background-color: #333;
    padding: 10px;
}
footer {
    background-color: #333;
    padding: 10px;
}
